{% load static %}
<html lang="en-US">
    <head>
      <meta charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>
    <body>
        <div id="login">
          <form name='form-login' method="post">
              {% csrf_token %}
            <span class="fontawesome-user"></span>
              <input type="text" name="username" id="user" placeholder="Username">

            <span class="fontawesome-email"></span>
              <input type="text" name="email" id="email" placeholder="Email">

            <span class="fontawesome-lock"></span>
              <input type="password" name="password" id="pass" placeholder="Password">

            <span class="fontawesome-lock"></span>
              <input type="password" name="password2" id="pass2" placeholder="Repeat Password">

            <input type="submit" value="Register">
          </form>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    </body>
</html>